@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Application>

<table class="table table-bordered">
    <thead class="fw-bold">
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model)
        {
            <tr>
                <td>@application.CategoryId</td>
                <td>@application.Title</td>
                <td>@application.Year</td>
                <td>@application.Director</td>
                <td>@application.Rating</td>
                <td>@application.Edited</td>
                <td>@application.LentTo</td>
                <td>@application.Notes</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@application.MovieId">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@application.MovieId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
